td.wk-nowrap > span {
    display: inline-block;
    max-width: 600px;
    overflow: hidden; /* optional */
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.wk-custom-buttons {
    /* position: absolute;
     bottom: 0;
     right: 0;*/
    /*float: right;*/
}

div.kv-panel-after {
    display: flex;
    justify-content: space-between;
}

div.kv-panel-after > div.btn-toolbar {
    display: flex;
}

ul.wk-visible-columns, ul.wk-hidden-columns {
    min-height: 215px;
}

ul.wk-visible-columns > a, ul.wk-hidden-columns > a {
    display: list-item;
    list-style: none outside none;
    border-top: rgb(204, 204, 204) solid 1px;
    border-bottom: rgb(204, 204, 204) solid 1px;
}

h4.wk-customize-dialog-columns-title {
    text-align: center;
}

div.wk-customize-dialog-columns-description {
    margin-top: 5px;
}

i.wk-customize-dialog-columns-exchange-icon {
    position: absolute;
    left: 438px;
    top: 170px;
    color: #6d6d6d;
}

i.wk-customize-dialog-columns-exchange-icon2 {
    position: absolute;
    left: 440px;
    top: 200px;
    color: #6d6d6d;
}

div.modal {
    margin-top: 65px;
}

a.ui-sortable-placeholder {
    border: #4a4a4a dashed 1px !important;
    margin-bottom: 1px;
    visibility: inherit !important;
}

div.pmd-modal-action {
    border-top: 1px solid #e5e5e5;
    padding: 8px 20px;
}

div.pmd-modal-action > div.btn-toolbar > button.btn {
    margin: 8px 4px;
}

/*-\/----Filter----\/-*/

div.wk-filter-output {
    white-space: nowrap;
    background: #ffeebc;
    padding: 0 15px;
    font-size: 13px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    width: 100%;
    height: 41px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
}

div.wk-filter-output div:nth-child(even) {
    float: right;
    position: absolute;
    right: 0;
    height: 100%;
    top: 0;
    width: 30px;
    background: #ffeebc;
    text-align: center;
}

div.wk-filter-output div:nth-child(odd) {
    float: left;
    height: 100%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.wk-filterDialog-btn-close {
    width: 100%;
    height: 100%;
}

div.wk-filter-output > span > b {
    font-weight: bold;
}

span.wk-filter-output-name {
    color: #661fa5;
    font-style: italic;
}

span.wk-filter-output-value {
    color: #d40909;
    font-style: italic;
}

div.form-group.filter-marked {
    background: #dcffc7;
    padding: 1px 0;
}

div.wk-filterDialog-content {
    height: 500px;
    overflow: auto;
}

/*-/\----Filter----/\-*/
.kv-grid-container, .wk-widget-grid-container {
    position: relative;
}

.wk-widget-grid-loading-container {
    opacity: 0;
}

.wk-widget-grid-loading .wk-widget-grid-loading-container, .wk-container-loading {
    opacity: 0.8;
    background: #ffffff url("../svg/loading.svg") center center no-repeat;
    background-size: 150px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s;
}

.wk-widget-grid-custom-button {
    margin-bottom: 3px;
}

.wk-widget-grid-custom-button > button {
    min-width: inherit;
    padding: 5px 9px;
    height: 38px;
    width: 38px;
    text-align: center;
    border-radius: 50px !important;
}

.wk-widget-grid-custom-button > button > i {
    font-size: 23px;
    color: #7a838a;
}

.wk-widget-grid-custom-button > ul > li > a {
    float: inherit !important;
    text-align: right;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #81b9e8;
    border-color: #81b9e8;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.table-hover > tbody > tr > td.info:hover, .table-hover > tbody > tr > th.info:hover, .table-hover > tbody > tr.info:hover > td, .table-hover > tbody > tr:hover > .info, .table-hover > tbody > tr.info:hover > th {
    background-color: #c4e3f3;
    transition: background-color 0.2s;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background-color: transparent;
    transition: background-color 0.2s;
}

.wk-grid-action-buttons a {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
}

.wk-grid-action-buttons a i {
    line-height: 30px !important;
}

.wk-custom-buttons > .dropup, .wk-custom-buttons > .dropdown {
    top: 40px;
}

.wk-custom-buttons a, .wk-addition-grid-toolbar a {
    width: 100%;
}

.wk-custom-buttons li, .wk-addition-grid-toolbar li {
    width: 100%;
    float: left;
}

.wk-custom-buttons button[data-toggle="dropdown"] > i {
    font-size: 20px;
    padding-left: 3px;
    margin-top: -5px;
    color: #676767;
}

.wk-addition-grid-toolbar .pmd-dropdown-menu-container {
    top: 35px;
}