td.wk-nowrap > span {
    display:inline-block;
    max-width: 600px;
    overflow: hidden; /* optional */
    white-space: nowrap;
    text-overflow: ellipsis;
}

div.wk-custom-buttons {
   /* position: absolute;
    bottom: 0;
    right: 0;*/
    float: right;
}

div.wk-grid-toolbar {
    position: relative;
    min-height: 35px;
}