i.wk-style {
    font-size: 160px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}

div.pmd-card-media {
    text-align: center;
    border: solid rgba(255, 255, 255, 0.40) 5px;
    border-radius: 20px;
    margin: 10px;
}

div.pmd-card-media > img {
    border: solid rgba(167, 167, 167, 0.4) 5px;
    border-radius: 20px;
}

div.pmd-card {
    border-radius: 20px;
    padding: 10px 0 0 0;
}

div.pmd-card-media.wk-red-style {
    background-color: #ffb2b2;
}

div.pmd-card-media.wk-blue-style {
    background-color: #b2d5ff;
}

div.pmd-card-media.wk-green-style {
    background-color: #bbecae;
}

div.pmd-card-media.wk-yellow-style {
    background-color: #fff59e;
}

div.pmd-card-media.wk-grey-style {
    background-color: #d6d6d6;
}

div.pmd-card > div:first-child {
    margin: 0 10px 10px 10px;
    border: 1px outset rgba(255, 255, 255, 0.40);
}

.wk-widget-card {
    width: 360px;
}

.wk-widget-card.wk-widget-show {
    opacity: 1;
    /*height: 460px;*/
}

.wk-widget-card.wk-widget-show.wk-widget-scroll {
    opacity: 1;
}

.wk-widget-card.wk-widget-hide {
    height: 5px;
    opacity: 0;
}

.wk-widget-pager {
    color: #717171;
    text-align: center;
    margin-top: 20px;
    height: 40px;
}

.pmd-card-subtitle-text {
    text-overflow: ellipsis;
    max-height: 105px;
    overflow: hidden;
    display: inline-block;
    text-align: justify;
    white-space: pre-line;
}

.pmd-card-title-text {
    text-overflow: ellipsis;
    max-height: 32px;
    overflow: hidden;
}

.pmd-card-actions {
    max-height: 51px;
    overflow: hidden;
}

.pmd-card-actions > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.wk-widget-search-panel {
    margin-bottom: 20px;
}

.wk-widget-search-panel-icon {
    top: 15px;
    text-align: right;
}

.wk-widget-search-panel-icon > i {
    color: rgba(0, 0, 0, 0.4);
}

.wk-widget-card .pmd-card-media {
    min-height: 190px;
}

.wk-pager-loading {
    display: inline-block;
    background: rgba(255, 255, 255, 0) url("../svg/bars.svg") center center no-repeat;
    width: 100px;
    height: 40px;
    position: absolute;
    margin-left: -50px;
}