i.wk-style {
    font-size: 160px;
    color: rgba(255, 255, 255, 0.5);
    margin: 10px;
}

div.pmd-card-media {
    text-align: center;
    border: solid rgba(255, 255, 255, 0.40) 5px;
    border-radius: 20px;
    margin: 10px;
}

div.pmd-card-media > img {
    border: solid rgba(167, 167, 167, 0.4) 5px;
    border-radius: 20px;
}

div.pmd-card {
    border-radius: 20px;
}

div.pmd-card-media.wk-red-style {
    background-color: #ffb2b2;
    background: #ef7375;
    background: -moz-radial-gradient(center, ellipse cover, #ef7375 0%, #8e525f 44%, #6b2a38 100%);
    background: -webkit-radial-gradient(center, ellipse cover, #ef7375 0%, #8e525f 44%, #6b2a38 100%);
    background: radial-gradient(ellipse at center, #e47779 0%, #e86985 44%, #6b2a38 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ef7375', endColorstr='#6b2a38', GradientType=1);
}

div.pmd-card-media.wk-blue-style {
    background-color: #b2d5ff;
}

div.pmd-card-media.wk-green-style {
    background-color: #bbecae;
}

div.pmd-card-media.wk-yellow-style {
    background-color: #fff59e;
}

div.pmd-card-media.wk-grey-style {
    background-color: #d6d6d6;
}

.wk-widget-card.wk-widget-show {
    opacity: 0;
    /*height: 460px;*/
}

.wk-widget-card.wk-widget-show.wk-widget-scroll {
    opacity: 1;
}

.wk-widget-card.wk-widget-hide {
    height: 5px;
    opacity: 0;
}

.wk-widget-pager {
    color: #717171;
    text-align: center;
    margin-top: 20px;
}

.pmd-card-subtitle-text {
    text-overflow: ellipsis;
    max-height: 105px;
    overflow: hidden;
    display: inline-block;
    text-align: justify;
}

.pmd-card-title-text {
    text-overflow: ellipsis;
    max-height: 32px;
    overflow: hidden;
}

.pmd-card-actions {
    max-width: 335px;
    max-height: 51px;
    overflow: hidden;
}

.pmd-card-actions > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 335px;
}

.wk-widget-search-panel {
    margin-bottom: 20px;
}

.wk-widget-search-panel-icon {
    top: 15px;
    text-align: right;
}

.wk-widget-search-panel-icon > i {
    color: rgba(0, 0, 0, 0.4);
}