@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../fonts/Roboto/Roboto-Light.ttf') format('truetype');
}

html,
body {
    display: table;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    display: table-row;
    height: 100%;
}

.container > .wrap {
    padding: 70px 15px 20px;
    min-height: 700px;
}

.footer {
    display: table-row;
    background-color: #f5f5f5;
}

.footer > .container-footer {
    /*border-top: 1px solid #ddd;*/
    padding-top: 20px;
    /*height: 60px;*/
    min-height: 30px; /* real browsers */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.grid-view .filters input:focus,
.grid-view .filters select:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 7px rgba(102, 175, 233, .6);
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 20px 15px;
    line-height: 24px;
    border: none;
}

@media (max-width: 767px) {
    .nav li > form > button.logout {
        display: block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.nav .pmd-btn-flat:focus:not(:hover):not(:active) {
    background-color: transparent !important;
}

.wk-grid-errors > div {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.pmd-input-group-label {
    padding-left: 55px;
}

div.form-group.pmd-textfield.required > label.control-label:after,
div.form-group.pmd-textfield-select2.required > label.control-label:after {
    content: ' *';
    color: red;
}

div.wk-block-select2-choose-from-grid {
    padding-right: 0 !important;
}

a.wk-widget-select2-choose-from-grid {
    width: 34px !important;
    height: 34px !important;
    min-width: 34px !important;
}

a.wk-widget-select2-choose-from-grid > i {
    line-height: 34px !important;
}

div.wk-widget-input-prepend-icon > span {
    min-width: 50px;
}

.pmd-tabs + .pmd-card-body {
    margin-top: 10px;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    border: none;
}

[class="help-block"] {
    color: #bdbdbd;
}

[class="help-block"]:empty {
    display: none;
}

[class="help-block"]:before {
    content: '* ';
}

.dropdown-menu > li > a {
    text-align: left;
}

/* Style \/ */

body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0c3fc+0,8ec5fc+100 */
    background: #8ec5fc; /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e0c3fc', endColorstr='#8ec5fc', GradientType=0); /* IE6-9 */
    background: -moz-linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

/* ------- NavBar ------- */

.navbar-inverse {
    background-color: #342c66;
    border-color: transparent;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
}

.navbar-inverse .btn-link, .navbar-inverse .navbar-nav > li > a {
    color: #9cb3e5;
    background: #4473df; /* Old browsers */
    background: -moz-radial-gradient(top, ellipse cover, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(top, ellipse cover, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%);
    background-repeat: no-repeat;
    background-position: 50% 200%;
    background-size: 100% 200%;
    transition: background-position 0.3s, color 0.3s, background-size 0.5s;
}

.navbar-inverse .btn-link:hover, .navbar-inverse .navbar-nav > li > a:hover {
    background-position: 50% 60%;
    background-size: 100% 300%;
    color: #d1deff;
}

.navbar .ink {
    background: #9cb3e5;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #d1deff;
    background: #4473df; /* Old browsers */
    background: -moz-radial-gradient(top, ellipse cover, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(top, ellipse cover, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at top, #342c66 0%, #4473df 30%, #40377c 72%, #342c66 100%);
    background-repeat: no-repeat;
    background-position: 50% 100%;
    background-size: 100% 300%;
    transition: background-position 1s, color 1s, background-size 1s;
}

.navbar-inverse .navbar-nav > li > a:focus:not(:hover) {
    color: #9cb3e5;
}

.navbar-inverse .navbar-nav > li.open > a:focus {
    color: #d1deff;
}

.navbar .pmd-dropdown .dropdown-menu > li > a {
    color: #342c66;
}

.navbar .pmd-btn-flat.btn-default:hover {
    background-color: #e5edff;
}

/* ------- NavBar ------- */

.container > .wrap {
    background-color: rgba(255, 255, 255, 0.3);
}

/* ------- Footer ------- */

.footer {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.08);
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.02em;
    background-color: #342c66;
    color: #9cb3e5;
}

.container-footer {
    text-align: center;
}

.container-footer > p:nth-child(odd) {
    margin: 0;
    letter-spacing: 0.05em;
}

.container-footer > p:nth-child(even) {
    font-family: 'Roboto', sans-serif;
    color: #767fbe;
    font-size: 0.8em;
}

/* ------- Footer ------- */

/* ------- CardList ------- */

.pmd-card {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: none;
    transition: color 0.3s, transform 0.3s;
    transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

.wk-widget-card > .pmd-card:active {
    background-color: rgba(255, 255, 255, 0.55);
    transform: scale(1.015);
    backface-visibility: hidden;
    -webkit-font-smoothing: subpixel-antialiased;
}

h2.pmd-card-title-text {
    font-family: 'Roboto', sans-serif;
    color: #9eb0d5;
    font-size: 2rem;
    /*transition: color 0.5s;*/
}

/*.wk-widget-card > .pmd-card:active h2.pmd-card-title-text {*/
/*color: #5c77ae;*/
/*}*/

.pmd-card-subtitle-text {
    font-family: 'Roboto Light', sans-serif;
    color: #64718b;
}

div.pmd-card {
    border-radius: 0;
}

.wk-widget-masonry-container {
    box-shadow: none;
}

.pmd-card-actions {
    padding: 0;
}

.pmd-card-actions .btn.pmd-btn-flat {
    margin: 0;
    font-family: 'Roboto Light', sans-serif;
    background-color: rgba(210, 219, 255, 0.5);
    font-size: 1.2em;
    color: rgb(184, 190, 225);
    letter-spacing: 0.1em;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.wk-widget-card > .pmd-card:hover > .pmd-card-actions .btn.pmd-btn-flat {
    background-color: #342c66;
    color: #d1deff;
}

.wk-widget-card > .pmd-card:active > .pmd-card-actions .btn.pmd-btn-flat {
    background-color: rgb(183, 190, 235);
    color: #d1deff;
}

div.pmd-card-media, div.pmd-card-media > img {
    margin: 0;
    border-radius: 0;
    border: none;
    position: relative;
    overflow: hidden;
}

.wk-widget-search-panel-icon > i {
    text-shadow: rgba(0, 0, 0, 0.02) 3px 6px 3px;
    color: rgba(255, 255, 255, 0.6);
}

div.pmd-card-media > i {
    text-shadow: rgba(0, 0, 0, 0.02) 3px 6px 3px;
    color: rgba(255, 255, 255, 0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

div.pmd-card-media > img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.wk-widget-card > .pmd-card:hover div.pmd-card-media > img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

div.pmd-card-media.wk-blue-style, div.pmd-card-media > img.wk-blue-style {
    background-color: transparent;
    border-bottom: solid rgba(122, 169, 255, 0.4) 5px;
}

div.pmd-card-media.wk-red-style, div.pmd-card-media > img.wk-red-style {
    background-color: transparent;
    border-bottom: solid rgba(255, 107, 115, 0.4) 5px;
}

/*div.pmd-card-media.wk-red-style:before {*/
/*position: absolute;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*height: 5px;*/
/*content: '';*/
/*background-image: radial-gradient(rgba(255, 107, 115, 0.4) 0%, rgba(255, 107, 115, 0.4) 70%, rgba(255, 107, 115, 0.4) 100%);*/
/*}*/

/*div.pmd-card-media.wk-red-style:after {*/
/*position: absolute;*/
/*bottom: 0;*/
/*left: 0;*/
/*right: 0;*/
/*height: 5px;*/
/*content: '';*/
/*background-image: radial-gradient(rgba(255, 0, 14, 0.79) 0%, rgba(192, 192, 192, 0.71) 100%);*/
/*transition: opacity 0.3s;*/
/*opacity: 0;*/
/*}*/

/*.wk-widget-card > .pmd-card:active div.pmd-card-media.wk-red-style:after {*/
/*opacity: 1;*/
/*}*/

div.pmd-card-media.wk-yellow-style, div.pmd-card-media > img.wk-yellow-style {
    background-color: transparent;
    border-bottom: solid rgba(249, 250, 147, 0.4) 5px;
}

div.pmd-card-media.wk-green-style, div.pmd-card-media > img.wk-green-style {
    background-color: transparent;
    border-bottom: solid rgba(166, 231, 158, 0.4) 5px;
}

div.pmd-card-media.wk-grey-style, div.pmd-card-media > img.wk-grey-style {
    background-color: transparent;
    border-bottom: solid rgba(185, 183, 184, 0.4) 5px;
}

.pmd-card-title-text {
    max-height: inherit;
    overflow: inherit;
}

.wk-widget-search-panel {
    box-shadow: 0px 2px 7px 0px #00000014;
    background-color: rgba(255, 255, 255, 0.4);
}

.wk-widget-search-panel-field > div > label {
    color: #9eb0d5;
    font-size: 2rem;
    padding-left: 10px;
    font-family: 'Roboto Light', sans-serif;
}

.wk-widget-search-panel-field > div > input.form-control {
    color: #bebed9;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Roboto', sans-serif;
    padding-left: 10px;
    box-shadow: inset 0px 2px 4px 0 rgba(0, 0, 0, 0.05);
}

.wk-widget-search-panel-field > div > input.form-control::selection {
    background-color: #9696bc;
}

.wk-widget-search-panel-field > div > input.form-control::-moz-selection {
    background-color: #9696bc;
}

.pmd-textfield-floating-label.pmd-textfield-floating-label-completed label {
    color: #726ba0;
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.01em;
}

.wk-widget-card > .pmd-card .wk-style {
    font-size: 160px;
    transition: font-size 0.3s, text-shadow 0.3s;
}

.wk-widget-card > .pmd-card:hover .wk-style {
    font-size: 170px;
    text-shadow: rgba(0, 0, 0, 0.02) 17px 11px 13px;
}

.wk-widget-card > .pmd-card {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* ------- CardList ------- */

/* ------- LoginForm ------- */

.site-login > div.row:nth-child(:first-child) {
    margin-top: 100px;
}

.wk-login-container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0;
}

.wk-login-container-logo {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

.wk-login-container-logo > i {
    font-size: 160px;
    text-shadow: rgba(0, 0, 0, 0.02) 3px 6px 3px;
    color: rgba(255, 255, 255, 0.6);
    margin: 20px 0 0 0;
}

.wk-login-container-logo > p {
    color: #8095b3;
}

.wk-login-container .pmd-textfield, .field-loginform-rememberme, .wk-login-container input.form-control, .form-group-lg.pmd-textfield-floating-label label {
    padding: 0 15px;
}

.form-group-lg.pmd-textfield-floating-label label {
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.02em;
}

.wk-login-container input.form-control {
    background-color: rgba(255, 255, 255, 0.3);
}

.wk-login-button {
    margin: 0;
}

.wk-login-button > button {
    background-color: rgba(255, 255, 255, 0.3);
    color: #bebed9;
    height: 80px;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -ms-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;
    transition: background-color 0.5s, color 0.5s;
}

.wk-login-button > button:hover {
    background-color: #342c66;
    color: #d1deff;
}

.wk-login-button > .btn:active {
    background-color: rgb(183, 190, 235);
    color: #d1deff;
}

.wk-login-container {
    font-family: 'Roboto', sans-serif;
}

.pmd-switch label input[type="checkbox"]:checked + .pmd-switch-label, .togglebutton-default label input[type="checkbox"]:checked + .pmd-switch-label {
    background-color: rgb(195, 208, 232);
}

.pmd-switch label input[type="checkbox"]:checked + .pmd-switch-label::after, .togglebutton-default label input[type="checkbox"]:checked + .pmd-switch-label::after {
    background-color: #726ba0;
    box-shadow: 0 1px 1px 0px rgba(0, 0, 0, 0.4);
}

.field-loginform-rememberme .control-label {
    color: #555;
    letter-spacing: 0.05em;
}

.wk-login-container div.form-group.pmd-textfield.required > label.control-label:after {
    content: '';
}

/* ------- LoginForm ------- */

/* ------- Breadcrumbs ------- */

ul.breadcrumb {
    background-color: transparent;
    font-family: 'Roboto Light', sans-serif;
    letter-spacing: 0.03em;
    margin: 20px 0;
    padding: 0;
    overflow: hidden;
}

ul.breadcrumb li:first-child {
    border-top-left-radius: 50px;
}

ul.breadcrumb li {
    float: left;
    margin-left: 0;
    width: auto; /* 100 / number of steps */
    min-width: 100px;
    height: 40px; /* total height */
    list-style-type: none;
    padding: 0 5px 0 30px; /* padding around text, last should include arrow width */
    border-right: 6px solid #d3d6fd; /* width: gap between arrows, color: background of document */
    position: relative;
    margin-top: 5px;
    text-align: center;
}

ul.breadcrumb li:last-child {
    padding: 10px 5px 5px 30px;
    cursor: default;
}

ul.breadcrumb li:first-child {
    padding-left: 30px;
}

ul.breadcrumb li:nth-child(n+2)::before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-left: 25px solid #ddd5fd; /* width: arrow width, color: background of document */
    border-top: 20px solid transparent; /* width: half height */
    border-bottom: 20px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
}

ul.breadcrumb li::after {
    z-index: 1; /* need to bring this above the next item */
    position: absolute;
    top: 0;
    right: -25px; /* arrow width (negated) */
    display: block;
    border-left: 25px solid #d3d6fd; /* width: arrow width */
    border-top: 20px solid transparent; /* width: half height */
    border-bottom: 20px solid transparent; /* width: half height */
    width: 0;
    height: 0;
    content: " ";
}

ul.breadcrumb a {
    text-align: center;
    color: #a2a1e4;
    text-decoration: none;
    transition: color 0.5s;
    height: 100%;
    padding-top: 10px;
    display: block;
}

ul.breadcrumb li:first-child a {
    font-family: 'Roboto', sans-serif;
}

ul.breadcrumb li:not(:last-child):hover > a {
    color: #d0d0f7;
}

ul.breadcrumb li:not(:last-child):active > a {
    color: #d5d6fd;
}

/* Completed */
ul.breadcrumb li {
    background-color: #e3e3fb;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-left-color 0.5s, background-color 0.5s;
}

ul.breadcrumb li::after {
    border-left-color: #e3e3fb;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: border-left-color 0.5s, background-color 0.5s;
}

/* Current */
ul.breadcrumb li.active {
    background-color: #5d5498;
    color: #d5d6fd;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.01em;
    border-right: 0;
}

ul.breadcrumb li.active::after {
    border-left-color: #5d5498;
}

/* Hover for completed and current */
ul.breadcrumb li:not(:last-child):hover {
    background-color: #837bb7;
}

ul.breadcrumb li:not(:last-child):hover::after {
    border-left-color: #837bb7;

}

/* Hover for completed and current */
ul.breadcrumb li:not(:last-child):active {
    background-color: #5d5498;
}

ul.breadcrumb li:not(:last-child):active::after {
    border-left-color: #5d5498;
}

.breadcrumb > li + li:before {
    content: "";
}

/* ------- Breadcrumbs ------- */

/* ------- Forms ------- */

.content-container {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px;
}

.content-container > h1 {
    color: #726ba0;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 20px 10px;
}

.content-container .panel {
    background-color: transparent;
}

.content-container .panel-body {
    background-color: rgba(255, 255, 255, 0.3);
}

.content-container .panel-heading {
    color: #cfd6fd;
    background-color: #726ba0;
}

.pmd-textfield .input-group .form-control {
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #726ba0;
}

.input-group i {
    color: #726ba0;
}

.pmd-textfield-floating-label label {
    transform: translateY(33px);
    -webkit-transform: translateY(33px);
    -ms-transform: translateY(33px);
}

.pmd-textfield label {
    color: #a6acc5;
    letter-spacing: 0.01em;
}

.panel {
    box-shadow: none;
    border: none;
}

.toolbox-form-group {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
}

/* ------- Forms ------- */

/* Style /\ */