.wk-header-panel {
    color: #a7a1d0;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 0 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    height: 62px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.wk-header-panel-icon {
    display: inline-block;
    position: relative;
    float: left;
    vertical-align: middle;
    height: 100%;
    line-height: 62px;
}

.wk-header-panel i {
    font-size: 45px;
    vertical-align: middle;
    height: 100%;
    line-height: 62px;
    min-width: 50px;
    text-align: center;
    padding-right: 15px;
}

.wk-header-panel > h1 {
    font-size: 20px;
    display: inline-block;
    margin: 0;
    position: relative;
    float: left;
    vertical-align: middle;
    height: 100%;
    line-height: 62px;
}
